




label {
    color: #929191;
    text-align: right;
    font-size: 12.925px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.685px;
}


span {
    color: rgba(255, 255, 255, 0.60);
    text-align: right;
    font-family: Almarai;
    font-size: 17.075px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.767px;
    flex: 1;
}


/* main -------------------------------- */
.container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 64px;
    max-width: 1440px;
}

.main {
    border-radius: 15.178px;
    background: rgba(255, 255, 255, 0.05);
    flex: 1;
    padding: 24px;
}

.PaymentMethods,
.actions {
    display: flex;
    flex: 1;
}

.PaymentMethods img {
    display: flex;
    flex: 1;
    width: 25%;
    padding: 8px;

}

.actions {
    gap: 16px;
}

@media(max-width: 768px){
    .container {
        flex-direction: column-reverse !important;
        gap: 24px;
        margin: 16px;
    }
}