.summary {
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.05);
    max-width: 500px;
    padding: 24px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    flex: .6;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 4PX;
}

.row {
    display: flex;
    flex-direction: row;

}

.row div:nth-child(1) {
    flex: 1;
}

input {
    border-radius: 6px;
    border: 1px solid #8A8A8A !important;
    display: flex;
    padding: 10px;
    background-color: transparent;
    height: 48px;
    line-height: 24px;
}

input:active {
    border: 1px solid #5EDCD4 !important;

}



label {
    color: #929191;
    text-align: right;
    font-size: 12.925px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.685px;
}

.group {
    padding-top: 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.24);
    gap: 16px;

}

span {
    color: rgba(255, 255, 255, 0.60);
    text-align: right;
    font-family: Almarai;
    font-size: 17.075px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.767px;
    flex: 1;
}


/* main -------------------------------- */
.container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 64px;
    max-width: 1440px;
}

.main {
    border-radius: 15.178px;
    background: rgba(255, 255, 255, 0.05);
    flex: 1;
    padding: 24px;
}

.PaymentMethods,
.actions {
    display: flex;
    flex: 1;
}

.PaymentMethods img {
    display: flex;
    flex: 1;
    width: 25%;
    padding: 8px;

}

.actions {
    gap: 16px;
}

.option {
    margin: 12px 0px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.32);
    display: flex;
    padding: 16px;
    gap: 12px;
}
.option span{
    height: 24px;
    max-width: 24px !important;
    min-width: 24px !important;
    border: 1px solid rgba(255, 255, 255, 0.32);
    border-radius: 24px;
}