/* main -------------------------------- */
.container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 64px;
    max-width: 1440px;
}

.main {
    border-radius: 15.178px;
    background: #000;
    flex: 1;
    padding: 24px;
    overflow: hidden;
    padding: 32px;
}

.actions {
    display: flex;
    flex: 1;
}


.actions {
    gap: 16px;
}

.head {
    display: flex;
    align-items: center;
    height: 46px;
    margin-bottom: 24px;

}

.head h1 {
    flex: 1;
}

.mess {
    padding: 24px 0px;
}

.terms {
    display: flex;
    gap: 16px;
    cursor: pointer;
    

}

.terms span {
    width: 24px;
    max-width: 24px;
    height: 24px;
    border-radius: 8px;
    border: 1px solid #fff;
    background-color: #ffffff24;
}

.terms span.select {
    background-color: #5EDCD4;
}


@media(max-width: 768px){
    .container {
        flex-direction: column-reverse !important;
        gap: 24px;
        margin: 16px;
    }
    .head {
        flex: 1;
        display: flex;
        flex-direction: column-reverse;
        height: fit-content;
        align-items: start;
    }
}