@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

*{
    direction: rtl;
    font-family: "Almarai", sans-serif;
}
body{
    background-color: #222;
    background-image: url('/assets/imgs/bg.png');
    color: #fff;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin: auto;
    width: max-content;
    width: 100%;
    max-width: 1440px;

}
section{
    padding: 88px 108px;
}

@media(max-width: 768px){
    section{
        padding: 16px 64px;
    }
    .container{
        flex-direction: column-reverse;
    }
}